

html{ font-size: 100%; height: 100%; width: 100%; overflow-x: hidden; margin: 0px;  padding: 0px; touch-action: manipulation; }

body{ font-size: 16px; font-family: 'Open Sans', sans-serif; width: 100%; height: 100%; margin: 0; font-weight: 400;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; word-wrap: break-word; overflow-x: hidden; 
	color: #333; }

h1, h2, h3, h4, h5, h6, p, a, ul, span, li, img, inpot, button{ margin: 200; padding:0; }

h1,h2,h3,h4,h5,h6{ line-height: 1.5; font-weight: inherit; }

h1,h2,h3{ font-family: 'Poppins', sans-serif; }

p{ line-height: 1.6; font-size: 1.05em; font-weight: 400; color: #555; }

h1{ font-size: 3.5em; line-height: 0; color: #19045e; padding: 1px; margin-top: 120px;}
h2{ font-size: 3em; line-height: 1.1; color: #19045e; padding: 1px; margin-top: 120px;}
h3{ font-size: 2.5em;   }
h4{ font-size: 1.5em; line-height:0.3; color: #19045e;}
h5{ font-size: 1.2em; }
h6{ font-size: .9em; letter-spacing: 1px; }

a, button{ display: inline-block; text-decoration: none; color: inherit; transition: all .3s; line-height: 2; } 

a:focus, a:active, a:hover,
button:focus, button:active, button:hover,
a b.light-color:hover{ text-decoration: none; color: #E45F74; }

b{ font-weight: 500; }

img{ width: 100%; }

li{ list-style: none; display: inline-block; }

span{ display: inline-block; }

 button{ outline: 0; border: 0; background: none; cursor: pointer; }

b.light-color{ color: #444; }

.icon{ font-size: 1.1em; display: inline-block; line-height: inherit; }

[class^="icon-"]:before, [class*=" icon-"]:before{ line-height: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/* ---------------------------------
2. COMMONS FOR PAGE DESIGN
--------------------------------- */

.center-text{ text-align: center; } 

.display-table{ display: table; height: 100%; width: 100%; }

.display-table-cell{ display: table-cell; vertical-align: middle; }

::-webkit-input-placeholder { font-size: .9em; letter-spacing: 1px; }

::-moz-placeholder { font-size: .9em; letter-spacing: 1px; }

:-ms-input-placeholder { font-size: .9em; letter-spacing: 1px; }

:-moz-placeholder { font-size: .9em; letter-spacing: 1px; }

.full-height{ height: 100%; }

.position-static{ position: static; }

.font-white{ color: #19045e; }
.id{
	text-align: center;
	margin-top: 250px;
	margin-left:1500px;
}
.det{
	text-align: center;
	margin-top: 250px;
	margin-left:1500px;
}

/* ---------------------------------
3. MAIN SECTION
--------------------------------- */

.main-area{ position: relative; z-index: 1; height: 100%; padding: 0 20px; background-size: cover;
	box-shadow: 2px 5px 30px rgba(0,0,0,.3); color: #fff; }

.main-area:after{ content:''; position: absolute; top: 0; bottom: 0;left: 0; right: 0; z-index: -1;  
	opacity: .0; background: linear-gradient(-9deg, #6a82fb 0%, #6a82fb 40%, #fc5c7d 100%); }
	

/*button*/
.main-area .buttn{ margin: 40px auto; position: relative; width: 450px; height: 53px; }

.main-area .buttn .submit-btn{ width: 170px; text-align: center; position: center; top: 5px; bottom: 5px; right: 5px; font-size: .9em;
	border-radius: 40px; transition: all .3s; background: #e4150b; color: #eee;}

.main-area .buttn .submit-btn:hover{ background:#e4150b; }

.main-area .buttn1{ margin: 40px auto; position: relative; width: 450px; height: 53px; padding: .5px; margin:.5px;right: 5px; left: 500px}

.main-area .buttn1 .submit-btn{ width: 170px; text-align: center; position: center;padding: 2px; margin:5px; font-size: .9em;
	border-radius: 40px; transition: all .3s; background: #e4150b; color: #eee;}

.main-area .buttn1 .submit-btn:hover{ background:#e4150b; }

.main-area .buttn2{ margin: 40px auto; position: relative; width: 450px; height: 53px; padding: .5px; margin:.5px;right: 5px; left: 500px}

.main-area .buttn2 .submit-btn{ width: 200px; text-align: center; position: center;padding: 2px; margin:5px; font-size: .9em;
	border-radius: 40px; transition: all .3s; background: #e4150b; color: #eee;}

.main-area .buttn2 .submit-btn:hover{ background:#e4150b; }


